<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Angular Material - Starter App</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>

  </head>

  <body ng-cloak layout="column" ng-controller="UsersController as ul">

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button
            hide-gt-sm
            class="menu md-icon-button"
            ng-click="ul.toggleList()" >

          <md-icon md-svg-icon="menu" ></md-icon>

        </md-button>
        <h3>Angular Material - Starter App</h3>
      </div>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')"
          ng-click="ul.toggleList()"
          class="md-whiteframe-4dp" >

          <md-list>
            <md-list-item ng-repeat="u in ul.users">
                <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                  <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                  {{u.name}}
                </md-button>
            </md-list-item>
          </md-list>

        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{ul.selected.name}}</h2>
          <p>{{ul.selected.content}}</p>

          <md-button class="share" md-no-ink ng-click="ul.share($event)">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>

    </div>


    <script src="./jspm_packages/system.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script type="text/javascript">
        System
            .import('boot')
            .catch( console.error.bind(console) ); // make sure any errors print to console
    </script>

  </body>
</html>
