<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <!--
    Add BottomSheet features
  -->

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul" ng-cloak>

    <md-toolbar layout="row">
      <h3>Angular Material - Starter App</h3>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" >
          <md-list>
            <md-list-item ng-repeat="u in ul.users">
                <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                  <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                  {{u.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{ul.selected.name}}</h2>
          <p>{{ul.selected.content}}</p>

          <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="src/users/UserController_5.js"></script>

    <script type="text/javascript">

      angular
          .module('starterApp', ['ngMaterial', 'users'])
          .config(function($mdIconProvider){

              $mdIconProvider
                  .defaultIconSet("./assets/svg/avatars.svg", 128)
                  .icon("share"      , "./assets/svg/share.svg"       , 24)
                  .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                  .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                  .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                  .icon("phone"      , "./assets/svg/phone.svg"       , 512);


          });

    </script>

  </body>
</html>
