<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

  </head>

  <!--
    ✓ Create Angular shell app
    ✓ Use `bower install angular-material`
    ✓ Load the CSS (before our app.css),
    ✓ Load the angular-material.js library and its dependent angular-aria.js and angular-animate.js libraries.
    ✓ Then set the module dependency on 'ngMaterial'
    ✓ Use wirefames to determine containers
    ✓ Configure layouts
    ✓ Lock open the sideNav, add shadow
    ✓ Add content
    ✓ Register Icons
    ✓ Integrate with App logic
      ✓ use ng-repeat
      ✓ load app logic
      ✓ add controller
  -->

  <!-- Add UsersList controller -->
  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
      <h3>Angular Material - Starter App</h3>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
          <md-list>
            <md-list-item ng-repeat="u in ul.users">
                <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                  <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                  {{u.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
          <h2>{{ul.selected.name}}</h2>
          <p>{{ul.selected.content}}</p>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>

    <!-- Load App Logic -->
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="src/users/UserController_4.js"></script>

    <script type="text/javascript">

      angular
          .module('starterApp', ['ngMaterial', 'users'])
          .config(function( $mdIconProvider ){

              // Register the user `avatar` icons
              $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
          })

    </script>

  </body>
</html>
