<div layout="column" flex>

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="$ctrl.toggleUsersList()"
               aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Angular Material - Starter App</h1>
  </md-toolbar>

  <!-- Container #2 -->
  <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp"
                md-component-id="left">
      <ms-users-list users="$ctrl.users" selected="$ctrl.selected"
                     on-selected="$ctrl.selectUser(user)">
      </ms-users-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
      <ms-user-details selected="$ctrl.selected"></ms-user-details>
    </md-content>

  </div>

</div>